* text=auto !eol
/.cproject -text
/.project -text
.settings/org.eclipse.photran.core.prefs -text
/Makefile -text
/cc2hist_work.f90 -text
/checkver_m.f90 -text
/getopt_m.f90 -text
/gldata_m.f90 -text
/height_m.f90 -text
/history.f90 -text
/hyblevs_m.f90 -text
/ind_m.f90 -text
/indices_m.f90 -text
/interp_m.f90 -text
/jim_utils.f90 -text
/jimcc_m.f90 -text
/jimco_m.f90 -text
/kinds_m.f90 -text
/latltoij_m.f90 -text
/moistfuncs.f90 -text
/mpidata_m.f90 -text
/ncutils_m.f90 -text
/netcdf_m.f90 -text
/newmpar_m.f90 -text
/nfft_m.f90 -text
/parm_m.f90 -text
/pcc2hist.f90 -text
/physparams.f90 -text
/pnetcdf_m.f90 -text
/precis_m.f90 -text
/revision.h -text
/s2p_m.f90 -text
/setxyz_m.f90 -text
/sitop_m.f90 -text
/stacklimit.c -text
/staguv_m.f90 -text
/usage_m.f90 -text
/utilities.f90 -text
/utils_m.f90 -text
/vertutils_m.f90 -text
/xyzinfo_m.f90 -text
